.affinityDiagram{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #dbe1e2;
   

}

.affinityHeader{
  
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

.affinitySubhead{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.affinityDiagramSection{
    width: 100%;
    padding: 50px 10px 100px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    background-color: #dbe1e2;
}

.cardContainer{
    text-align: center;


}

.col{
    background-color: #dbe1e2;
    padding-top: 100px;
}

.ideateMiro1{
    padding-top: 100px;
    width: 100%;

}

.ideateHeader{
    text-align: center;
    padding-top: 100px;
    background-color: white;
    padding-top: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

.ideateSubhead1{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    background-color: white;

}

.overviewSubheader{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px 0px 100px;

}
.openerGrid {
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #394646;
    color: white; 
    padding-top: 25px;  

}

p {
    font-size: 16px;
}

.overviewText1{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.overviewText2{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.overviewText3{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.personaText1{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.personaText2{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.personaText3{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.personaText4{
    font-size: 16px;
    padding: 0px 20px 0px 100px;

}

.populateTitle{
    padding-top: 50px;
    font-size: 75px;
}

.priorityMatrix{
width: 100%
}

.projectOverview{
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-top: 25px;
    

    
}

.projectOverviewH1{
    padding-left: 100px;
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}

.populatePrototypeGroup{
    padding-top: 100px;
}

.populateValue{
    font-size: 24px;
}

.quotes{
   
    padding-left: 250px;
   

}

.methodLeft{
    text-align: center;
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}

.researchPanel{
    background-color: #dbe1e2;
    
}

.researchText1{
    font-size: 24px;
    padding: 20px 20px 20px 100px;

   
}

.testing1{
    font-size: 24px;
    padding: 100px 20px 20px 20px;

}
.testingSection{
    font-size: 24px;
    padding: 20px 20px 20px 100px;

}

.testingHeader{
    text-align: center;
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}

.testingParagraph{
    font-size: 24px;
    padding: 20px 20px 20px 100px;

}

title {
    font-size: 50px;
    color: black;

}

.userPersonaH1{
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}

.personaSubhead1{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 100px;

}

.personaSubheader{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px 0px 100px;


}

.userPersona{
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-top: 25px;

}

.userPersonaImage{
        width: 100%;
        padding-top: 200px;

    }

.videoContainerLeft{
    padding: 50px 50px 50px 50px;
}

.wireframeHeader{
    text-align: center;
    padding-top: 100px;
    background-color: white;
    padding-top: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

.wireframeSketch{
    padding-top: 100px;
    width: 100%;

}

.wireframeMidfidelity{
    padding-top: 100px;
    width: 100%;

}

.wireframe{
    width: 100%;
    padding: 50px 10px 100px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    
}

.wireframeCoachingslides{
    width: 75%;
    align-content: center;
    padding-left: 275px;

}

.wireframeHeaderHifidelity{
    padding-top: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

.wireframeLogin{
    padding-top: 100px;
    width: 100%;

}

.wireframeProfile{
    padding-top: 100px;
    width: 100%; 
}

.wireframeHifidelity{
    width: 100%;
    padding: 50px 10px 100px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    
}

.wireframeHifidelity2{
    width: 100%;
    height: 500px;
    padding: 50px 10px 100px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    background-color: #dbe1e2;
}

.wireframeLogin{
  
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #dbe1e2;

}

.wireframeProfile{
    padding-top: 100px;
    width: 100%;
}
    
